<section>
  <ul class="nav nav-pills">
  <li ng-class="{active: panel.isSelectedTab(1)}">
    <a href ng-click="panel.selectTab(1)"> Description </a>
  </li>
  <li ng-class="{active: panel.isSelectedTab(2)}">
    <a href ng-click="panel.selectTab(2)"> Specifications </a>
  </li>
  <li ng-class="{active: panel.isSelectedTab(3)}">
    <a href ng-click="panel.selectTab(3)"> Reviews </a>
  </li>
</ul>
<div class="panel" ng-show="panel.isSelectedTab(1)">
  <h4>Description</h4>
  <blockquote>{{product.description}}</blockquote>
</div>
<div class="panel" ng-show="panel.isSelectedTab(2)">
  <h4>Specifications</h4>
  <blockquote>{{product.specification}}</blockquote>
</div>
<div class="panel" ng-show="panel.isSelectedTab(3)">
  <h4>Reviews</h4>
  <blockquote ng-repeat="review in product.reviews">
    <b> Stars: {{review.stars}}</b>
    {{review.body}}
    <cite>by: {{review.author}}</cite>
  </blockquote>
  <!-- to take user input  -->
  <review-form></review-form>
</div>
</section>
