<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
  <fieldset class="form-group">
    <blockquote>
      <b> Stars: {{reviewCtrl.review.stars}}</b>
      {{reviewCtrl.review.body}}
      <cite>by: {{reviewCtrl.review.author}}</cite>
    </blockquote>
  </fieldset>
  <fieldset class="form-group">
    <select ng-model="reviewCtrl.review.stars" required>
      <option value="1">1 star</option>
      <option value="2">2 stars</option>
      <option value="3">3 stars</option>
      <option value="4">4 stars</option>
      <option value="5">5 stars</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <textarea ng-model="reviewCtrl.review.body" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <label for="email">by:</label>
    <input type="email" name="email" required ng-model="reviewCtrl.review.author" />
  </fieldset>
  reviewForm is valid? {{reviewForm.$valid}}
  <fieldset class="form-group">
    <input type="Submit" name="Submit" value="Submit"/>
  </fieldset>
</form>
